<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="ns-personio-row">
        <div class="ns-personio-col ns-personio-col-{searchClassValue}">
            <div class="form-group">
                <div class="jobs-filter__field">
                    <f:form.textfield type="search" name="search-word" id="jobs-search" value="{position}" class="form-control job-search-input"
                                      additionalAttributes="{autocomplete:'on'}" placeholder="{f:translate(key: 'nspersonio_pi1.list.search')}" />
                </div>
            </div>
        </div>
    </div>
</html>