<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
    <div class="ns-personio-warp">
        <div class="ns-personio-container">
            <f:if condition="{job}">
                <f:then>
                    <div class="ns-nspersonio-backto-list">
                        <f:link.page pageUid="{listPid}"  class="jobs-list-btn ns-personio-btn">
                            <svg viewBox="0 0 18 18" width="15" height="15" xmlns="http://www.w3.org/2000/svg"><path fill="#757575" d="M2.34 9l8.968-9L12.6 1.3 4.867 9.02l7.713 7.705L11.308 18z"/></svg>
                            <span><f:translate key="tx_nspersonio_domain_model_jobs.seeAllPosition" extensionName="ns_personio" /></span>
                        </f:link.page>
                    </div>
                    <div class="ns-nspersonio-details">
                        <f:if condition="{job}">
                            <div class="ns-nspersonio-detail-meta">
                                <div class="ns-nspersonio-detail-head">
                                    <f:if condition="{job.name}">
                                        <h2>{job.name}</h2>
                                    </f:if>
                                    <p>
                                        <f:if condition="{job.employmentType}"><span>{job.employmentType}, </span></f:if>
                                        <f:if condition="{job.schedule}"><span>{job.schedule}, </span></f:if>
                                        <f:if condition="{job.office}"><span>{job.office}</span></f:if>
                                    </p>
                                </div>
                            </div>
                            <div id="job-details" class="job-details__content">
                                <f:if condition="{job.descriptions}">
                                    <f:format.raw>{job.descriptions}</f:format.raw>
                                </f:if>
                                <f:if condition="{settings.contentElements}">
                                    <f:cObject typoscriptObjectPath="lib.commonContent"  data="{contentId:settings.contentElements}"  />
                                </f:if>
                                <f:if condition="{settings.showApplyButton}">
                                    <f:link.action action="application" pageUid="{settings.applicationPid}" arguments="{job: job.uid}" class="ns-personio-btn career-submit-application-btn remove-speed-boostar">
                                        <f:translate key="tx_nspersonio_domain_model_jobs.details.applyBtn" extensionName="ns_personio" />
                                    </f:link.action>
                                </f:if>
                            </div>
                        </f:if>
                    </div>
                </f:then>
                <f:else>
                    <f:translate key="tx_nspersonio_domain_model_jobs.list.noJobs" extensionName="ns_personio" />
                </f:else>
            </f:if>
        </div>
    </div>
</f:section>
</html>
